@{
    @model List<tb_login>;
    ViewData["Title"] = "Produto";

    Layout = "_Layout_dashboard";

}

<div>
    <table class="table">
        <tr>
            <th><h4>Usuários</h4></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
    @if (Model.Count > 0)
    {
        <table class="table">

            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CodigoLogin</td>
                        <td>@item.Nome</td>
                        <td>@item.Email</td>
                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/usuario/editaradmin?CodigoLogin=@item.CodigoLogin&Nome=@item.Nome&Email=@item.Email&Telefone=@item.Telefone&CPF_CNPJ=@item.CPF_CNPJ&Senha=@item.Senha&Tipo=@item.Tipo&Ativo=@item.Ativo'">Editar</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            Sem Registros!
        </div>
    }

</div>




