@{
    @model List<tb_produto>;
    ViewData["Title"] = "Produto";

    Layout = "_Layout_dashboard";

}

<div>
    <table class="table">
        <tr>
            <th><h4>Produtos</h4></th>
            <th></th>
            <th></th>
            <th class="text-sm-right"><button class="btn btn-primary" type="button" onclick="window.location.href ='/produto/cadastroproduto'">Novo Produto</button>
            <th>
        </tr>
    </table>
    @if (Model.Count > 0)
    {
        <table class="table">

            <thead>
                <tr>
                    <th>Código Interno</th>
                    <th>Nome</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CodigoProduto</td>
                        <td>@item.Nome</td>
                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/produto/editar?CodigoProduto=@item.CodigoProduto&Descricao=@item.Descricao'">Editar</button></td>
                        <!--<td><button type="button" class="btn btn-danger" onclick="window.location.href='/produto/excluir?CodigoProduto=@item.CodigoProduto'">Excluir</button></td> -->

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            Sem Registros!
        </div>
    }

</div>




