
@{
    ViewData["Title"] = "História";
}

<style>
    main{
        display:flex;
        justify-content: center;
    }
    .historia {
        background: #95d4e0;
        border: none;
        border-radius: 25px;
    }
    </style>

<div class="col-md-8 card p-4 historia">
<h4>História</h4>
    <p>
        O foco da empresa “Em casa com estilo” é produzir Pijamas que, necessariamente, não tenham
        “cara” de pijamas e que transmitam bem-estar aos clientes, seja na hora de dormir, para ficar em
        casa ou até mesmo no dia a dia de trabalho “home office”, diante dessa nova realidade em virtude ao
        COVID-19 no Brasil.<br><br>
        Sempre superando os modelos antiquados tradicionais existentes no mercado, dispomos de modelos
        versáteis Feminino, masculino e infantil.<br><br>
        Prezam pela melhor Experiência de Compra dos nossos Clientes, e procuramos oferecer a melhor
        qualidade dos nossos tecidos e da mão de obra qualificada, resultando em uma peça que cumpra
        com a necessidade e satisfação dos nossos clientes.
    </p>
    <p>
        <strong>
            Missão:
        </strong>
        <li>Oferecer uma sensação de bem estar através de pijamas confortáveis, modernos e de
        qualidade para a família e pessoas de todas as idades.</li>

    </p>
    <strong>
        Visão:
    </strong>
    <li>Ser uma empresa com presença online reconhecida nacionalmente pela qualidade e inovação
    de nossos produtos no mercado de pijamas; buscando a máxima organização e eficiência do setor
    operacional e estratégico, utilizando mão de obra qualificada e tecnologia funcional.</li>
    </p>
    <p>
        <strong>Valores:</strong>
        <li> Comprometimento com o cliente - Oferecer a melhor experiência de compra;</li>
        <li>
            Comprometimento com a qualidade dos nossos produtos;
        </li>
        <li>
            Oferecimento de momentos de prazer, divertimento e relaxamento através do conforto, temas e
            modelos dos nossos pijamas;
        </li>
        <li>
            Estreitamento da relação familiar, com a oferta de pijamas do mesmo modelo para toda a Família;
        </li>
        <li> Qualidade no ambiente de trabalho.</li>
    </p>
    </p>
</div>
