
@{
    ViewData["Title"] = "Política";
}
<style>
    main {
        display: flex;
        justify-content: center;
    }

    .historia {
        background: #95d4e0;
        border: none;
        border-radius: 25px;
        height: 500px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
</style>

<div class="col-md-6 card pt-2 historia">
    <h4>Políticas de Privacidade</h4>

    <p>
        A sua privacidade é importante para nós. É política do Em casa com estilo respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site Em casa com estilo, e outros sites que possuímos e operamos.<br>

        Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.<br>

        Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.<br>

        Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.<br>

        O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.<br>

        Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.<br>

        O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contato conosco<br>
    </p>
</div>
