
@{
    ViewData["Title"] = "História";
}

<h4>Termo</h4>


<div class="col-md-9">
    <p>
        Regozijai-vos sempre no Senhor; outra vez digo, regozijai-vos.
        Seja a vossa eqüidade notória a todos os homens. Perto está o Senhor.
        Não estejais inquietos por coisa alguma; antes as vossas petições sejam em tudo conhecidas diante de Deus pela oração e súplica, com ação de graças.
        E a paz de Deus, que excede todo o entendimento, guardará os vossos corações e os vossos pensamentos em Cristo Jesus.
        Quanto ao mais, irmãos, tudo o que é verdadeiro, tudo o que é honesto, tudo o que é justo, tudo o que é puro, tudo o que é amável, tudo o que é de boa fama, se há alguma virtude, e se há algum louvor, nisso pensai.
        O que também aprendestes, e recebestes, e ouvistes, e vistes em mim, isso fazei; e o Deus de paz será convosco.
        Ora, muito me regozijei no Senhor por finalmente reviver a vossa lembrança de mim; pois já vos tínheis lembrado, mas não tínheis tido oportunidade.
        Não digo isto como por necessidade, porque já aprendi a contentar-me com o que tenho.
        Sei estar abatido, e sei também ter abundância; em toda a maneira, e em todas as coisas estou instruído, tanto a ter fartura, como a ter fome; tanto a ter abundância, como a padecer necessidade.
        Posso todas as coisas em Cristo que me fortalece.
        Todavia fizestes bem em tomar parte na minha aflição.
        E bem sabeis também, ó filipenses, que, no princípio do evangelho, quando parti da macedônia, nenhuma igreja comunicou comigo com respeito a dar e a receber, senão vós somente;
        Porque também uma e outra vez me mandastes o necessário a tessalônica.
        Não que procure dádivas, mas procuro o fruto que cresça para a vossa conta.
        Mas bastante tenho recebido, e tenho abundância. Cheio estou, depois que recebi de Epafrodito o que da vossa parte me foi enviado, como cheiro de suavidade e sacrifício agradável e aprazível a Deus.
        O meu Deus, segundo as suas riquezas, suprirá todas as vossas necessidades em glória, por Cristo Jesus.
        Ora, a nosso Deus e Pai seja dada glória para todo o sempre. Amém.

        Filipenses 4:4-20
    </p>
</div>
