@{
    @model List<tb_tamanho>;
    ViewData["Title"] = "Tamanhos";

    Layout = "_Layout_dashboard";

}

<div >
    <table class="table">
        <tr>
            <th><h4>Tamanhos</h4></th>
            <th></th>
            <th></th>
            <th class="text-sm-right"><button class="btn btn-primary" type="button" onclick="window.location.href ='/tamanho/cadastrotamanho'">Novo Tamanho</button>
            <th>
        </tr>
    </table>
    @if (Model.Count > 0)
    {
<table class="table table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CodigoTamanho</td>
            <td>@item.Descricao</td>
            <td></td>
            <td></td>
            <td><button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='/tamanho/editar?CodigoTamanho=@item.CodigoTamanho&Descricao=@item.Descricao'"><i class="fa fa-edit"></i></button></td>
            <td><button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='/tamanho/excluir?CodigoTamanho=@item.CodigoTamanho'"><i class="fa fa-trash"></i></button></td>

        </tr>                }
    </tbody>
</table>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            Sem Registros!
        </div>
    }

</div>




