
@{
    @model tb_cor;
    ViewData["Title"] = "Categorias";

    Layout = "_Layout_dashboard";
}

<h4>Cadastro de Cor</h4>

<form asp-action="Salvar" asp-controller="Cor">
    <div class="form-group">
        <label asp-for="Descricao"></label>
        <input type="text" class="form-control" asp-for="Descricao">
        <input type="hidden" asp-for="CodigoCor">
    </div>

    @Html.Raw(ViewData["Valida"])

    <button type="submit" class="btn btn-primary">Registrar</button>

</form>
<br />

<button type="button" class="btn btn-info btn-sm" onclick="window.location.href='/Cor'">Voltar</button>
