
@{
    @model tb_categoria;
    ViewData["Title"] = "Categorias";

    Layout = "_Layout_dashboard";
}

<h4>Categorias</h4>

<form asp-action="Salvar" asp-controller="Categoria">
    <div class="form-group">
        <label asp-for="Descricao"></label>
        <input type="text" class="form-control" asp-for="Descricao">
        <input type="hidden" asp-for="CodigoCategoria">
    </div>

    @Html.Raw(ViewData["Valida"])

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
<br />

<button type="button" class="btn btn-info btn-sm" onclick="window.location.href='/Categoria'">Voltar</button>



