
@{
                @model CadastroLogin;
                ViewData["Title"] = "Atualizão de Cadastro"; }
<script type="text/javascript" src="~/js/viacep.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
@Html.Raw(ViewData["Valida"])
<form id="FormCadastro" asp-action="SalvarSemSenha" asp-controller="Menu">
    <div class="row">
        <aside class="col-md-12">
            <div class="card">
                <article class="card-body">
                    <header class="mb-4">
                        <h4 class="card-title">Meus Dados</h4>
                    </header>
                    <div class="col form-row">
                        <div class="col form-group">
                            <label asp-for="tb_login.Nome"></label>
                            <input type="text" class="form-control" asp-for="tb_login.Nome">
                        </div>
                        <div class="col form-group">
                            <label asp-for="tb_login.CPF_CNPJ"></label>
                            <input type="text" class="form-control" onkeyup="mascara('###.###.###-##',this,event,false)" MaxLength="14" required asp-for="tb_login.CPF_CNPJ">
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label asp-for="tb_login.Telefone"></label>
                            <input type="text" class="form-control" onkeyup="mascara('(##)#####-####',this,event,false)" MaxLength="14" required asp-for="tb_login.Telefone">
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label asp-for="tb_login.Email"></label>
                            <input type="email" class="form-control" asp-for="tb_login.Email">
                        </div>
                    </div>
                    <input type="hidden" asp-for="tb_login.CodigoLogin" id="cod">
                    <input type="hidden" asp-for="JsonLTEDR">
                    <hr />
                    <p>*Se fizer alguma alteração nos dados, clique em Salvar!</p>
                    <button type="submit" class="btn btn-primary btn-block" style="width:10%">Salvar</button>
                    <div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="card-body">
                    <div class="d-flex justify-content-between mb-1">
                        <h4>Meus Endereços</h4>
                       
                        <div>
                         <button type="button" class="btn btn-success" onclick="window.location.href='AddEndereco'">Adicionar Endereço</button>
                         <button type="button" class="btn btn-success" onclick="window.location.href='../menu/endereco'">Editar Endereço</button>
                        </div>
                    </div>
                    <div></div>
                    <table id="tb_endereco" class="table bg-light">
                        <tbody>
                        </tbody>
                    </table>
                </article>
            </div>

        </aside>
    </div>
</form>



<script>
    var MtzEndereco;



    $(document).ready(function () {

        if ($("#JsonLTEDR").val() != "") {
            MtzEndereco = JSON.parse($("#JsonLTEDR").val());
        }
        else {
            MtzEndereco = [];
        }

        GetTabela();
    });


    function AddEndereco() {
        if ($("#txt_ender_descricao").val() == "") {
            alert("Digite a Descrição");
            $("#txt_ender_descricao").focus();
            return;
        }

        MtzEndereco.push(
            {
                CodigoLogin: $("#cod").val(),
                CodigoEndereco: 0,
                Descricao: $("#txt_ender_descricao").val(),
                Cep: $("#txt_ender_cep").val(),
                Endereco: $("#txt_ender_endereco").val(),
                Numero: $("#txt_ender_numero").val(),
                Bairro: $("#txt_ender_bairro").val(),
                Cidade: $("#txt_ender_cidade").val(),
                UF: $("#txt_ender_uf").val(),
            }
        );
        GetTabela();
        $("#txt_ender_descricao").val("");
        $("#txt_ender_cep").val("");
        $("#txt_ender_endereco").val("");
        $("#txt_ender_numero").val("");
        $("#txt_ender_bairro").val("");
        $("#txt_ender_cidade").val("");
        $("#txt_ender_uf").val("");
        $("#txt_ender_descricao").focus();

    }

    function mascara(m, t, e, c) {
        var cursor = t.selectionStart;
        var texto = t.value;
        texto = texto.replace(/\D/g, '');
        var l = texto.length;
        var lm = m.length;
        if (window.event) {
            id = e.keyCode;
        } else if (e.which) {
            id = e.which;
        }
        cursorfixo = false;
        if (cursor < l) cursorfixo = true;
        var livre = false;
        if (id == 16 || id == 19 || (id >= 33 && id <= 40)) livre = true;
        ii = 0;
        mm = 0;
        if (!livre) {
            if (id != 8) {
                t.value = "";
                j = 0;
                for (i = 0; i < lm; i++) {
                    if (m.substr(i, 1) == "#") {
                        t.value += texto.substr(j, 1);
                        j++;
                    } else if (m.substr(i, 1) != "#") {
                        t.value += m.substr(i, 1);
                    }
                    if (id != 8 && !cursorfixo) cursor++;
                    if ((j) == l + 1) break;

                }
            }
            if (c) coresMask(t);
        }
        if (cursorfixo && !livre) cursor--;
        t.setSelectionRange(cursor, cursor);
    }

    function GetTabela() {
        $("#JsonLTEDR").val(JSON.stringify(MtzEndereco));
        $("#tb_endereco > tbody ").html("");
        var sHtml = "";
        for (var x = 0; x <= MtzEndereco.length - 1; x++) {
            sHtml = "<tr>";
            sHtml += "<td class='font-weight-bold'>Descrição: " + MtzEndereco[x].Descricao + "</td>";
            sHtml += "<td>CEP: " + MtzEndereco[x].Cep + "</td>";
            sHtml += "<td>Logradouro: " + MtzEndereco[x].Endereco + "</td>";
            sHtml += "<tr/>";
            sHtml += "<tr>";
            sHtml += "<td>Número: " + MtzEndereco[x].Numero + "</td>";
            sHtml += "<td>Bairro: " + MtzEndereco[x].Bairro + "</td>";
            sHtml += "<td>Cidade: " + MtzEndereco[x].Cidade + "</td>";
            sHtml += "<td>UF: " + MtzEndereco[x].UF + "</td>";
            sHtml += "</tr>";
            $("#tb_endereco > tbody ").append(sHtml);
        }
    }

    function ExcluirEnder(x) {
        delete MtzEndereco[x];
        MtzEndereco.splice(x, 1);
        GetTabela();
    }
    function SetSubmit() {
        $('#FormCadastro').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data.success) {
                        alertSucesso(data.msg);
                    } else {

                        if (data.msg.indexOf("Erro") > -1) {
                            alertErro(data.msg);
                        }
                        else {
                            alertInformacao(data.msg);
                        }
                    }
                }
            });

        });
    }


</script>