@{
    @model List<tb_genero>;
    ViewData["Title"] = "Genero";

    Layout = "_Layout_dashboard";

}

<div >
    <table class="table">
        <tr>
            <th><h4>Generos</h4></th>
            <th></th>
            <th></th>
            <th class="text-sm-right"><button class="btn btn-primary" type="button" onclick="window.location.href ='/genero/cadastrogenero'">Novo Genero</button>
            <th>
        </tr>
    </table>
    @if (Model.Count > 0)
    {
        <table class="table">

            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CodigoGenero</td>
                        <td>@item.Descricao</td>
                        <td><button type="button" class="btn btn-warning" onclick="window.location.href='/genero/editar?CodigoGenero=@item.CodigoGenero&Descricao=@item.Descricao'">Editar</button></td>
                        <td><button type="button" class="btn btn-danger" onclick="window.location.href='/genero/excluir?CodigoGenero=@item.CodigoGenero'">Excluir</button></td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            Sem Registros!
        </div>
    }

</div>




