
@{
                @model LoginAcesso;
                ViewData["Title"] = "Login"; }
<!--
<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        margin-top: 30px;
    }
</style>
<div class="text-center">
    <h6>Entre</h6>
    <form asp-action="Logar">
        <div class="card border-success col-md-6">
            <div class="card-body">

                <div class="form-group col-md-12" style="margin-top:10px;">
                    <label asp-for="Email" class="control-label"><i class="fas fa-user"></i> Usuario</label>
                    <input type="email" inputmode="email" asp-for="Email" class="form-control" />
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <label asp-for="Senha" class="control-label"><i class="fas fa-lock"></i> Senha</label>
                    <input type="password" asp-for="Senha" class="form-control" />
                </div>
                <hr />
                <div class="col-md-12 text-center" style="margin-top:15px;">
                    <button id="btentrar" type="submit" class="btn btn-success" style="width:80%;background:#678912"><i class="fas fa-sign-in-alt"></i> Entrar</button>
                </div>
                <div id="loadin"></div>
                <div class="col-md-12 text-center clsErro" style="margin-top:15px;color:red;">
                    @ViewData["erro"]
                </div>
            </div>
        </div>
    </form>
</div>

-->

<div class="login-form" style="margin-top:150px">
    <form asp-action="Logar">
        <h2 class="text-center">Entrar</h2>

        <div class="form-group">
            <input type="email" class="form-control" asp-for="Email" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" asp-for="Senha" placeholder="Senha" required="required">
        </div>
        <div class="form-group">
            <button id="btentrar" type="submit" class="btn btn-primary btn-block">Entrar</button>
        </div>
        <div id="loadin"></div>
        <div class="col-md-12 text-center clsErro" style="margin-top:15px;color:red;">
            @ViewData["erro"]
        </div>
    </form>
</div>


<style type="text/css">

    .login-form {
        width: 340px;
        margin: auto;
        font-size: 15px;
    }

        .login-form form {
            margin-bottom: 100px;
            background-color: #FFFFFF;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }


    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

</style>








@section Scripts {
    <script>
        $(() => {
            $("#btentrar").click(function () {
                $(this).hide();
                $(".clsReg").hide();
                $(".clsErro").hide();
                $("#loadin").html("<div class='alert alert-light text-center' role='alert'><img src='./img/loading.gif' /> Aguarde...</div>");
            });
        });
    </script>
}
