@{ ViewData["Title"] = "Carrinho"; }


<link rel="stylesheet" href="~/lib/bootstrap-ecommerce-uikit/css/ui.css" />
<link rel="stylesheet" href="~/lib/bootstrap-ecommerce-uikit/css/responsive.css" media="only screen and (max-width: 1200px)" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" />



<section class="container" id="order" style="margin-top: 50px">
    <div id="code_cart">
        <div class="card">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col" width="120">Quantidade</th>
                        <th scope="col" width="120">Preço</th>
                        <th scope="col" width="200" class="text-right"></th>
                    </tr>
                </thead>
                <tbody id="idcarrinho">
                </tbody>
            </table>
        </div>
    </div>
</section>
<br />
<br />


<h6>Calculo de frete</h6>

<div class="row">
    <div class="col-md-2">
        <label>CEP: </label>
        <input id="txt_cep" type="text" name="CEP"><br><br>
    </div>
    <div class="col-md-2">
        <label>Escolha o tipo de envio:</label>
        <select id="txt_servico" type="text" class="form-control">
            <option value="04510">PAC</option>
            <option value="04014">SEDEX</option>
        </select>
    </div>
    <div>
        <button id="btn_Calcular" type="button" class="btn btn-primary btn-sm">Calcular</button>
    </div>

</div>
<hr />
<p>Valor total: <span id="RespFrete"></span></p>
<hr />
<button type="submit" class="btn btn-primary">Finalizar</button>
<hr/>


<p>Valor Total dos Produtos: <span id="total"></span></p>
<p>Valor do Frete: <span id="RespFrete2"></span></p>
<p>Valor Total: <span id="ValorFinal"></span></p>




<script>
    $(document).ready(function () {
        $("#btn_Calcular").click(function () {
            Calcular($("#txt_cep").val(), $("#txt_servico").val());
        });

        GetCarrinho();

    });

    function formata(v) {
        return parseFloat(v).toLocaleString("pt-BR", { style: "currency", currency: "BRL" });
    }

    function Calcular(_cep, _servico) {
        $("#RespFrete").html("Aguarde...");
        var _url = '@Url.Action("GetCalculo", "CalculaFrete")';

        $.ajax({
            url: _url,
            type: 'GET',
            data: {
                cep : _cep,
                cdservico : _servico,
            },
            processData: true,
            contentType: true,
            success: function (result) {
    
                
                $("#RespFrete").html(result.resposta);
                $("#RespFrete2").html(result.resposta);

            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            },
        });
    }

    function GetCarrinho() {

        var tb = "";
        var Total = 0;
        $("#idcarrinho").html("");
        var _url = '@Url.Action("GetAll", "Carrinho")';

        $.ajax({
            url: _url,
            type: 'GET',
            processData: true,
            contentType: true,
            success: function (result) {
                if (result.success) {
                    tb = "<tr>";
                    $.each(result.resp, function (i, item) {

                        tb += "<td><figure class='media'>";
                        tb += "<div class='img-wrap'><img src='" + item.foto + "class='img-thumbnail img-sm'></div>";
                        tb += "<figcaption class='media-body'>";
                        tb += "<h6 class='title text-truncate'>" + item.nome + "</h6>";
                        tb += "<dl class='dlist-inline small'><dt>Tamanho: </dt><dd>" + item.tamanho + "</dd></dl>";
                        tb += "<dl class='dlist-inline small'><dt>Cor: </dt><dd>" + item.cor + "</dd></dl>";
                        tb += "</figcaption></figure ></td>";
                        tb += "<td>" + item.quantidade + " </td>";
                        tb += "<td><div class='price-wrap'><var class='price'>" + item.quantidade * item.preco + "</var>";
                        tb += "<small class='text-muted'>(" + formata(item.preco) + " cada)</small></div></td>";
                        tb += "<td class='text-right'><a href='##' onclick='RemoveItem(" + item.id + ");'>Remover</a></td>";
                        tb += "</tr>";
                        Total += item.preco * item.quantidade;

                    });

                    $("#idcarrinho").html(tb);
                    $("#total").html(Total);


                }
            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });

    }

      function RemoveItem(codigo) {
        var _url = '@Url.Action("RemoveItem", "Carrinho")';

        $.ajax({
            url: _url,
            type: 'GET',
            data: {
                Id: codigo
            },
            processData: true,
            contentType: true,
            success: function (result) {
                GetCarrinho();
            }
            ,
            error: function (jqXHR) {

            },
            complete: function (jqXHR, status) {

            }

        });
      }


</script>

    