@{
    ViewData["Title"] = "Home Page";

    Layout = "_Layout_dashboard";

}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="~/js/charts.js"></script>

<div class="text-center col-md-12">
    <p>Seja Bem Vindo(a) ao Dashboard ECCE 5.0 by Escolha Virtual Developer</p>
    <p>Soluções em tecnologia para sua empresa</p>
</div>
<div class="row">
    <div>
        <p><h4>Tamanho</h4></p>
        <div id="Column"></div>
    </div>
    <div class="col-md-1"></div>
    <div>
        <p><h4>Gráfico de Vendas</h4></p>
        <div id="Donuts"></div>
    </div>
</div>


