@{
                @model List<tb_produto>;
                ViewData["Title"] = "Produto";

                Layout = "_Layout_dashboard"; }


<div>
    <table class="table">
        <tr>
            <th><h4>Produtos</h4></th>
            <th></th>
            <th class="text-sm-right"><button class="btn btn-primary" type="button" onclick="window.location.href ='/produto/cadastroproduto'">Novo Produto</button>
            <th>
        </tr>
    </table>
    @if (Model.Count > 0)
    {
<table class="table table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Código Interno</th>
            <th>Nome</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.CodigoProduto</td>
    <td></td>
    <td>@item.Nome</td>
    <td><button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='/produto/editar?CodigoProduto=@item.CodigoProduto&CodigoInterno=@item.CodigoInterno&Descricao=@item.Descricao'"><i class="fa fa-edit"></i></button></td>
</tr>
}
    </tbody>
</table> }
else
{
<div class="alert alert-primary" role="alert">
    Sem Registros!
</div>}

</div>




